{% extends 'manga/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/bookmarks.css'%}">
{% endblock %}

{% block main %}
<div class="main-container">
    <div class="bookmarked-container">
        <h2>Bookmarks</h2>
        <div class="bookmarked">
            <div class="manga-grid">
                {% for bookmarked_manga in bookmarked_mangas %}
                <div class="manga-grid-item">
                    <div class="manga-grid-image">
                        <img src="{{ bookmarked_manga.cover.url }}">
                    </div>
                    <div class="manga-grid-info">
                        <h3><a href="{% url 'show-manga' bookmarked_manga.id %}">{{ bookmarked_manga.title }}</a></h3>
                        {% for chapter in bookmarked_manga.chapters.all %}
                        <p>Chapter {{ chapter.chapter_number }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}