{% extends 'manga/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/categories.css'%}">
{% endblock %}

{% block main %}
<div class="main-container">
    <div class="manga-lists-container">
        <h2>Manga Lists</h2>
        <div class="manga-lists">
            <div class="categories">
                <div class="options">
                    <div>
                        <button>Genre All</button>
                    </div>
                    <div>
                        <button>Genre All</button>
                    </div>
                    <div>
                        <button>Genre All</button>
                    </div>
                    <div>
                        <button>Genre All</button>
                    </div>
                    <div>
                        <button>Genre All</button>
                    </div>
                </div>
            </div>
            <div class="manga-grid">
                {% for categories_manga in categories_mangas %}
                <div class="manga-grid-item">
                    <div class="manga-grid-image">
                        <img src="{{ categories_manga.cover.url }}">
                    </div>
                    <div class="manga-grid-info">
                        <h3><a href="{% url 'show-manga' categories_manga.id %}">{{ categories_manga.title }}</a></h3>
                        <p>Chapter {{ categories_manga.chapters.first.chapter_number }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}