{% extends 'manga/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
{% endblock %}

{% block main %}
<div class="main-container">
    <div class="frontpage">
        <div class="frontpage-slide-container">
            <div class="manga-info-container">
                <div class="manga-info">
                    <div class="manga-text">
                        <h2 class="manga-title"><a href="{% url 'show-manga' popular_mangas.first.id %}">{{ popular_mangas.first.title }}</a></h2>
                        <div class="summary">
                            <p><strong>Summary</strong></p>
                            <p class="manga-summary">{{ popular_mangas.first.summary }}</p>
                        </div>
                        <p class="manga-author"><strong>Author:</strong> {{ popular_mangas.first.author }}</p>
                        <p class="manga-status"><strong>Status:</strong> {{ popular_mangas.first.status }}</p>
                    </div>
                    <div style="position: static !important; display: none;" class="swiper-pagination pag"></div>
                </div>
            </div>
            <div class="manga-img swiper swiper1">
                <div class="swiper-wrapper">
                    {% for popular_manga in popular_mangas %}
                        <div id="popular-manga-img" data-id="{{ popular_manga.id }}" class="swiper-slide">
                            <img src="{{ popular_manga.cover.url }}">
                        </div>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
    <div class="downpage">
        <div class="downpage-container">
            <div class="slide-container">
                <h2>Most Viewed</h2>
                <div class="slide-manga-container swiper swiper2">
                    <div class="slide-mangas swiper-wrapper">
                        {% for most_viewed_manga in most_viewed_mangas %}
                            <div class="slide-manga swiper-slide">
                                <div class="slide-manga-img">
                                    <img src="{{ most_viewed_manga.cover.url }}">
                                </div>
                                <h3><a href="{% url 'show-manga' most_viewed_manga.id %}">{{ most_viewed_manga.title }}</a></h3>
                            </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
            <div class="latest">
                <h2>Latest</h2>
                <div class="latest-container">
                    <div class="manga-grid">
                        {% for latest_manga in latest_mangas %}
                        <div class="manga-grid-item">
                            <div class="manga-grid-image">
                                <img src="{{ latest_manga.cover.url }}">
                            </div>
                            <div class="manga-grid-info">
                                <h3><a href="{% url 'show-manga' latest_manga.id %}">{{ latest_manga.title }}</a></h3>
                                {% for chapter in latest_manga.chapters.all %}
                                <p>Chapter {{ chapter.chapter_number }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/index.js' %}"></script>
</div>
{% endblock %}