{% extends 'manga/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/latest.css'%}">
{% endblock %}

{% block main %}
<setion class="section-latest">
    <h2>Latest</h2>
    <div class="latest">
        <div class="manga-grid grid">
            {% for latest_manga in latest_mangas %}
            <div class="manga-grid-item">
                <div class="manga-grid-img-box">
                    <img src="{{ latest_manga.cover.url }}">
                </div>
                <div class="manga-grid-info">
                    <h3><a href="{% url 'show-manga' latest_manga.id %}">{{ latest_manga.title }}</a></h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}