{% extends 'manga/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css'%}">
{% endblock %}

{% block main %}
<div class="main-container">
    <div class="login-container">
        <div class="login">
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="field">
                        <label>{{field.label}}</label>
                        {{field}}
                    </div>
                {% endfor %}
                <button type="submit">LOGIN</button>
                <p>New here? <a href="{% url 'register' %}">Register</a></p>
                <p><a href="#">Forgot password?</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}