{% extends 'manga/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main %}
<section class="profile-section">
    <div class="profile">
        <img src="{% static 'images/gg_profile.png'%}" alt="profile-img">
        <h2><strong>{{ username }}</strong></h2>
    </div>
</section>
<section class="bookmark-section">
    {% if bookmarked_mangas %}
        <h2>Bookmarked Mangas</h2>
        <div class="bookmark-container swiper swiper1">
            <div class="manga-grid swiper-wrapper">
                {% for bookmarked_manga in bookmarked_mangas %}
                    <div class="manga-grid-item swiper-slide">
                        <div class="manga-grid-image">
                            <img src="{{ bookmarked_manga.cover.url }}">
                        </div>
                        <div class="manga-grid-info">
                            <h3><a href="{% url 'show-manga' bookmarked_manga.id%}">{{ bookmarked_manga.title }}</a></h3>
                        </div>
                    </div>
                {% endfor%}
            </div>
        </div>
    {% endif %}
</section>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}