{% extends 'manga/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main %}
<div class="main-container">
    <div class="profile-container">
        <div class="profile">
            <div class="top-info">
                <div class="profile-img">
                    <img src="{% static 'images/gg_profile.png'%}" alt="profile-img">
                </div>
                <div class="info">
                    <p><strong>{{ username }}</strong></p>
                    {% if request.user.username != username %}<button class="btn-follow">{% if other_user_follow.btn_follow == True %}Follow{% endif %}{% if other_user_follow.btn_follow == False %}Unfollow{% endif %}</button>{% endif %}
                </div>
            </div>
            <div class="down-info">
                <p>{{ other_user_follow.followers }} followers</p>
                <p>{{ other_user_follow.following }} following</p>
            </div>
        </div>
    </div>
    <div class="slides-container">
        {% if created_mangas %}
        <div class="slide-container">
            <h2>Created Mangas</h2>
            <div class="slide-manga-container swiper swiper2">
                <div class="slide-mangas swiper-wrapper">
                    {% for created_manga in created_mangas %}
                        <div class="slide-manga swiper-slide">
                            <div class="slide-manga-img">
                                <img src="{{ created_manga.manga_cover.url }}">
                            </div>
                            <h3><a href="{% url 'show_manga' created_manga.id%}">{{ created_manga.manga_title }}</a></h3>
                        </div>
                    {% endfor%}
                </div>
            </div>
        </div>
        {% endif %}
        
        {% if bookmarked_mangas %}
        <div class="slide-container">
            <h2>Bookmarked Mangas</h2>
            <div class="slide-manga-container swiper swiper2">
                <div class="slide-mangas swiper-wrapper">
                    {% for bookmarked_manga in bookmarked_mangas %}
                        <div class="slide-manga swiper-slide">
                            <div class="slide-manga-img">
                                <img src="{{ bookmarked_manga.manga_cover.url }}">
                            </div>
                            <h3><a href="{% url 'show_manga' bookmarked_manga.id%}">{{ bookmarked_manga.manga_title }}</a></h3>
                        </div>
                    {% endfor%}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}