{% extends 'manga/layout.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/show_manga.css' %}" />
<script src="{% static 'js/show_manga.js' %}"></script>
{% endblock %} {% block main %}
<section class="section-manga-view">
    <div class="container">
        <div class="manga-view-img">
            <img src="{{ manga.cover.url }}" alt="Manga Cover" />
        </div>
        <div class="manga-view-info">
            <h2>{{ manga.title }}</h2>
            <p><strong>Summary</strong></p>
            <p>{{ manga.summary }}</p>
            <p><strong>Author:</strong> {{ manga.author }}</p>
            <p><strong>Status:</strong> Releasing</p>
        </div>
    </div>
</section>

<section class="section-manga-chapter">
    <div class="manga-chapter-items">
        <h2>Chapters</h2>
        <button id="btn-new-chapter">New Chapter</button>
    </div>
    <div class="new-chapter">
        <!-- The Modal -->
        <div id="new-chapter-modal" class="modal">
            <!-- Modal content -->
            <div class="new-chapter-modal-container">
                <span class="close">&times;</span>
                <div class="new-chapter-content">
                    <h2>New Chapter</h2>
                    <form
                        class="new-chapter-form"
                        method="POST"
                        enctype="multipart/form-data"
                        action="{% url 'new-chapter' manga.id %}"
                    >
                        {% csrf_token %} {% for field in new_chapter_form %}
                        <div class="field">
                            <label>{{field.label}}</label>
                            {{field}}
                        </div>
                        {% endfor %}
                        <button class="submit">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="chapter-list">
        {% for chapter in manga_chapters %}
        <div class="chapter">
            <div class="chapter-info">
                <a
                    href="{% url 'manga-chapter' manga.id chapter.id%}"
                    class="chapter-number"
                    ><strong>Chapter {{ chapter.chapter_number }}</strong></a
                >
                <p class="chapter-date">{{ chapter.posted_date }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="section-comment"></section>

{% comment %}
<div class="main-container">
    <div class="top-container">
        <div class="manga-container">
            <div class="manga-left-container">
                <div class="manga-img">
                    <img src="{{ manga.cover.url }}" />
                </div>
                <!-- Bookmark -->
                <div class="bookmark">
                    <button class="btn-bookmark">
                        <icon
                            ><img src="{% static 'images/bookmark.png' %}"
                        /></icon>
                        <p class="bookmark-text">{{ bookmarked }}</p>
                    </button>
                </div>
            </div>
            <div class="manga-right-container">
                <div class="manga-info" data-id="{{ manga.id }}">
                    <h2>{{ manga.title }}</h2>
                    <p><strong>Summary</strong></p>
                    <p>{{ manga.summary }}</p>
                    <p><strong>Author:</strong> {{ manga.author }}</p>
                    <p><strong>Status:</strong> Releasing</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-container">
        <div class="chapters">
            <div class="chapter-top">
                <h2>Chapters</h2>
                <button id="btn-new-chapter">New Chapter</button>
                <!-- The Modal -->
                <div id="new-chapter-modal" class="modal">
                    <!-- Modal content -->

                    <div class="chapter-modal-content">
                        <span class="close">&times;</span>
                        <form
                            class="new-chapter-form"
                            method="POST"
                            enctype="multipart/form-data"
                            action="{% url 'new-chapter' manga.id %}"
                        >
                            {% csrf_token %} {% for field in new_chapter_form %}
                            <div class="field">
                                <label>{{field.label}}</label>
                                {{field}}
                            </div>
                            {% endfor %}
                            <button class="submit">Create</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="chapter-list">
                {% for chapter in manga_chapters %}
                <div class="chapter">
                    <div class="chapter-info">
                        <a
                            href="{% url 'manga-chapter' manga.id chapter.id%}"
                            class="chapter-number"
                            ><strong
                                >Chapter {{ chapter.chapter_number }}</strong
                            ></a
                        >
                        <p>{{ chapter.posted_date }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="comment-container">
        <div class="comments">
            <div class="add-comment">
                <h2>Place a comment</h2>
                <!-- Add Comment Form -->
                <form
                    class="new-comment-form"
                    method="POST"
                    action="{% url 'new-comment' manga.id %}"
                >
                    {% csrf_token %} {% for field in comment_form %} {{ field }}
                    {% endfor %}
                    <button class="submit">Comment</button>
                </form>
            </div>
            <div class="all-comments">
                <h2>All Comments</h2>
                {% for comment in comments %}
                <!-- Comment -->
                <div class="comment" data-id="{{ comment.id }}">
                    <!-- Comment Info-->
                    <div class="comment-info">
                        <p><strong>{{ comment.user.username }}</strong></p>
                        <p>{{ comment.posted_date }}</p>
                        {% if comment.user.username == request.user.username %}
                        <button
                            id="btn-edit"
                            class="btn btn-primary"
                            data-id="{{comment.id}}"
                        >
                            Edit
                        </button>
                        {% endif%}
                    </div>

                    <!-- Edit Form -->
                    {% if comment.user.username == request.user.username %}
                    <form
                        id="form_edit_{{comment.id}}"
                        class="form-edit"
                        data-id="{{comment.id}}"
                        method="POST"
                        style="display: none"
                    >
                        <div class="form-edit-content">
                            <textarea
                                id="txtarea_edit_{{comment.id}}"
                            ></textarea>
                        </div>
                        <button id="btn-form-save" type="submit">Save</button>
                    </form>
                    {% endif %}
                    <!-- Comment Text -->
                    <p id="comment_{{comment.id}}">
                        {{ comment.comment_text }}
                    </p>

                    <!-- Like -->
                    <div class="like">
                        <svg
                            class="btn-like"
                            {%
                            if
                            comment.id
                            in
                            liked_comments_id
                            %}
                            style="fill: red"
                            {%
                            else
                            %}
                            style="fill: grey"
                            {%
                            endif
                            %}
                            data-id="{{ comment.id }}"
                            viewBox="0 0 24 24"
                            aria-hidden="true"
                            class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"
                        >
                            <g>
                                <path
                                    d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12z"
                                ></path>
                            </g>
                        </svg>
                        <p id="like-count">{{comment.like_count}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endcomment %} {% endblock %}
