{% extends 'manga/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/show_manga.css' %}">
{% endblock %}

{% block main %}
<div class="main-container">
    <div class="top-container">
        <div class="manga-container">
            <div class="manga-left-container">
                <div class="manga-img">
                    <img src="{{ manga.manga_cover.url }}">
                </div>
                <div class="bookmark">
                    <button><icon><img src="{% static 'images/bookmark.png' %}"></icon>Bookmark</button>
                </div>
            </div>
            <div class="manga-right-container">
                <div class="manga-info">
                    <h2>{{ manga.manga_title }}</h2>
                    <p><strong>Summary</strong></p>
                    <p>{{ manga.summary }}</p>
                    <p><strong>Author:</strong> {{ manga.author }}</p>
                    <p><strong>Status:</strong> Releasing</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-container">
        <div class="chapters">
            <h2>Chapters</h2>
            <div class="chapter-list">
                {% for chapter in manga_chapters %}
                <div class="chapter">
                    <div class="chapter-info">
                        <p class="chapter-number"><strong>Chapter {{ chapter.chapter_number }}</strong></p>
                        <p>{{ chapter.posted_date }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="comment-container">
        <div class="comments">
            <h2>Comments</h2>
            <div class="comment">
                <p><strong>dudujunior12</strong></p>
                <p>Comentario</p>
            </div>
            <div class="comment">
                <p><strong>dudujunior12</strong></p>
                <p>Comentario</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}