{% extends 'manga/layout.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/show_manga.css' %}" />
<script src="{% static 'js/show_manga.js' %}"></script>
{% endblock %} {% block main %}
<section class="section-manga-view">
    <div class="container">
        <div class="manga-view-img">
            <img src="{{ manga.cover.url }}" alt="Manga Cover" />
        </div>
        <div class="manga-view-info" data-id="{{ manga.id }}">
            <h2>{{ manga.title }}</h2>
            <p><strong>Summary</strong></p>
            <p>{{ manga.summary }}</p>
            <p><strong>Author:</strong> {{ manga.author }}</p>
            <p><strong>Status:</strong> Releasing</p>
            <button class="btn-bookmark">Bookmark</button>
        </div>
    </div>
</section>

<section class="section-manga-chapter">
    <div class="manga-chapter-items">
        <h2>Chapters</h2>
        <button id="btn-new-chapter">New Chapter</button>
    </div>
    <div class="new-chapter">
        <!-- The Modal -->
        <div id="new-chapter-modal" class="modal">
            <!-- Modal content -->
            <div class="new-chapter-modal-container">
                <span class="close">&times;</span>
                <div class="new-chapter-content">
                    <h2>New Chapter</h2>
                    <form
                        class="new-chapter-form"
                        method="POST"
                        enctype="multipart/form-data"
                        action="{% url 'new-chapter' manga.id %}"
                    >
                        {% csrf_token %} {% for field in new_chapter_form %}
                        <div class="field">
                            <label>{{field.label}}</label>
                            {{field}}
                        </div>
                        {% endfor %}
                        <button class="submit">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="chapter-list">
        {% for chapter in manga_chapters %}
        <div class="chapter">
            <div class="chapter-info">
                <a
                    href="{% url 'manga-chapter' manga.id chapter.id%}"
                    class="chapter-number"
                    ><strong>Chapter {{ chapter.chapter_number }}</strong></a
                >
                <p class="chapter-date">{{ chapter.posted_date }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
