{% extends 'manga/layout.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/manga_chapter.css' %}">
{% endblock %}

{% block main %}  
    <section class="section-chapter">
        <div class="chapter-container">
            <h2 class="manga-title">{{manga.title}} Chapter {{current_chapter.chapter_number}}</h2>
            <nav class="nav-chapter">
                <div class="select-container">
                    <select class="select-box" select-option>
                        {% for chapter in chapters %}
                            {% if chapter.chapter_number == current_chapter.chapter_number %}
                            <option selected="selected">Chapter {{chapter.chapter_number}}</option>
                            {% else %}
                            <option>Chapter {{chapter.chapter_number}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="icon-container">
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="btn-nav-chapter">
                    {% if previous_chapter <= 0 %}
                    <a href="{% url 'manga-chapter' manga.id previous_chapter %}" class="btn-nav-next disabled-link">Prev<i class="fas fa-chevron-left"></i></a>
                    <a href="{% url 'manga-chapter' manga.id next_chapter %}"class="btn-nav-next">Next<i class="fas fa-chevron-right"></i></a>
                    {% elif next_chapter > chapters.count %}
                    <a href="{% url 'manga-chapter' manga.id previous_chapter %}" class="btn-nav-next">Prev<i class="fas fa-chevron-left"></i></a>
                    <a href="{% url 'manga-chapter' manga.id next_chapter %}"class="btn-nav-next disabled-link">Next<i class="fas fa-chevron-right"></i></a>
                    {% else %}
                    <a href="{% url 'manga-chapter' manga.id previous_chapter %}" class="btn-nav-next">Prev<i class="fas fa-chevron-left"></i></a>
                    <a href="{% url 'manga-chapter' manga.id next_chapter %}"class="btn-nav-next">Next<i class="fas fa-chevron-right"></i></a>
                    {% endif %}
                </div>
            </nav>
            <div class="chapter">
                <img src="{{ current_chapter.image.url }}">
            </div>
            <nav class="nav-chapter nav-bottom">
                <div class="select-container">
                    <select class="select-box" select-option>
                        <option>Chapter {{current_chapter.chapter_number}}</option>
                    </select>
                    <div class="icon-container">
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="btn-nav-chapter">
                    {% if previous_chapter <= 0 %}
                    <a href="{% url 'manga-chapter' manga.id previous_chapter %}" class="btn-nav-next disabled-link">Prev<i class="fas fa-chevron-left"></i></a>
                    <a href="{% url 'manga-chapter' manga.id next_chapter %}"class="btn-nav-next">Next<i class="fas fa-chevron-right"></i></a>
                    {% elif next_chapter > chapters.count %}
                    <a href="{% url 'manga-chapter' manga.id previous_chapter %}" class="btn-nav-next">Prev<i class="fas fa-chevron-left"></i></a>
                    <a href="{% url 'manga-chapter' manga.id next_chapter %}"class="btn-nav-next disabled-link">Next<i class="fas fa-chevron-right"></i></a>
                    {% else %}
                    <a href="{% url 'manga-chapter' manga.id previous_chapter %}" class="btn-nav-next">Prev<i class="fas fa-chevron-left"></i></a>
                    <a href="{% url 'manga-chapter' manga.id next_chapter %}"class="btn-nav-next">Next<i class="fas fa-chevron-right"></i></a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </section>

    <script src="{% static 'js/chapter-nav.js' %}"></script>
    
{% endblock %}
