{% extends 'manga/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/util.css'%}">
{% endblock %}

{% block main %}
<section class="section-profile">
    <div class="profile">
        <img src="{% static 'images/gg_profile.png'%}" alt="profile-img">
        <h2><strong>{{ username }}</strong></h2>
    </div>
</section>
<section class="section-bookmark">
    <h2 class="section-title">Bookmarked Mangas</h2>
    {% if bookmarked_mangas %}
    <div class="bookmark swiper swiper1">
        <div class="swiper-wrapper">
            {% for bookmarked_manga in bookmarked_mangas %}
                <div class="manga-grid-item swiper-slide">
                    <div class="manga-grid-img-box">
                        <img alt="manga-cover" src="{{ bookmarked_manga.cover.url }}">
                    </div>
                    <div class="manga-grid-info">
                        <h3><a href="{% url 'show-manga' bookmarked_manga.id%}">{{ bookmarked_manga.title }}</a></h3>
                    </div>
                </div>
            {% endfor%}
        </div>
    </div>
    {% endif %}
</section>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}