/* *********************** */
/* FILTER SECTION */
/* *********************** */
.filter-section{
    margin-top: 9.6rem;
    width: 100%;
    border: 1px solid black;
}


.filter-container{
    max-width: 180rem;
    margin: 0 auto;
    padding: 3.2rem 4.6rem;
}

.filter-container p{
    font-size: 1.6rem;
    font-weight: 600;
}

.genre-grid{
    margin-top: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1.2rem;
}

.genre-grid-item a {
    text-decoration: none;
    color: #343a40;
}

.genre-grid-item a:hover{
    color: #d3b2f3;
}

.genre-grid-item span{
    font-size: 1.4rem;
}

/* *********************** */
/* CATEGORIES SECTION */
/* *********************** */
.categories-section {
    margin-top: 9.6rem;
    width: 100%;
    background-color: #d3b2f3;
}

.categories-section h2 {
    font-size: 2.4rem;
    padding: 3.2rem 4.6rem;
}


.categories{
    max-width: 180rem;
    margin: 0 auto;
    padding: 3.2rem 4.6rem;
}

