/* *********************** */
/* FILTER SECTION */
/* *********************** */
.filter-section{
    margin-top: 9.6rem;
    width: 100%;
    border: 1px solid black;
}

.filter-container{
    width: 180rem;
    margin: 2rem auto;
}


.filter-container p{
    font-size: 1.6rem;
    font-weight: 600;
}

.genre-grid{
    margin-top: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1.2rem;
    width: 120rem;
}

.genre-grid-item a {
    text-decoration: none;
    color: #343a40;
}

.genre-grid-item a:hover{
    color: #d3b2f3;
}

.genre-grid-item span{
    font-size: 1.4rem;
}

/* *********************** */
/* CATEGORIES SECTION */
/* *********************** */
.categories-section {
    margin-top: 9.6rem;
    width: 100%;
    background-color: #d3b2f3;
}

.categories-container {
    min-height: 70vh;
    max-height: auto;
    width: 160rem;
    margin: auto;
    padding: 3.6rem 0;
}

.categories-container h2 {
    font-size: 2.4rem;
}

.manga-grid {
    margin-top: 3.6rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3%;
    row-gap: 3%;
}

.manga-grid-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.manga-grid-image img{
    width: 100%;
    height: 100%;
}

.manga-grid-info {
    padding: 1.2rem 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.manga-grid-info a{
    text-decoration: none;
    color: #343a40;
}

.manga-grid-info h3 {
    font-size: 1.8rem;
    
}

.manga-grid-info p {
    font-size: 1.2rem;
}

.manga-grid-image img {
    height: 40rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
    display: block;
}
