/* *********************** */
/* HERO SECTION */
/* *********************** */

.section-hero {
    margin-top: 9.6rem;
    background-color: #d3b2f3;
}

.container {
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 9.6rem;
    padding: 4.8rem 3.2rem;
    margin: auto;
}

.manga-presentation-slide {
    background-color: #b279eb;
    padding: 2.4rem 1.6rem 9.6rem 1.6rem;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    border-radius: 3px;
}

.summary {
    margin-top: 2.4rem;
}

.manga-summary {
    margin-top: 1.8rem;
}

.manga-presentation-slide a {
    font-size: 3.2rem;
    text-decoration: none;
    color: #343a40;
    font-weight: 600;
}

.manga-image-slide-cover {
    width: 100%;
    height: 100%;
}

.manga-image-slide-cover img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    border-radius: 3px;
    display: block;
}

/* *********************** */
/* MOST VIEWED SECTION */
/* *********************** */
.most-viewed-section {
    margin-top: 9.6rem;
}

.most-viewed-section h2 {
    font-size: 2.4rem;
    margin-left: 9.6rem;
}

.most-viewed-grid {
    padding: 6.4rem 0;
}

.manga-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.manga-card img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    border-radius: 3px;
    display: block;
}

.manga-card h3 {
    font-size: 1.8rem;
}

.manga-card a {
    text-decoration: none;
    color: #343a40;
    font-weight: 600;
}

/* *********************** */
/* LATEST SECTION */
/* *********************** */
.latest-section {
    margin-top: 6.4rem;
}

.latest-section h2 {
    font-size: 2.4rem;
    margin-left: 9.6rem;
}

.latest-grid {
    margin-top: 6.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 9.6rem;
    column-gap: 21rem;
    row-gap: 3.6rem;
}

.manga-grid-item {
    display: flex;
    gap: 1.6rem;
    padding: 0 2.4rem;
}

.manga-grid-item img {
    max-width: 100%;
    max-height: 100%;
    width: 30%;
    border-radius: 3px;
    display: block;
}

.manga-grid-info h3 {
    font-size: 2.2rem;
    font-weight: 600;
}

.manga-grid-info a {
    text-decoration: none;
    color: #343a40;
}

.manga-grid-info p {
    margin-top: 0.6rem;
    font-size: 1.6rem;
}

/* a {
    text-decoration: none;
}

.main-container {
    margin-top: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.frontpage {
    width: 75%;
    height: 50vh;
    background-color: #047aed;
    border-radius: 5px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.frontpage-slide-container {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.manga-info-container {
    width: 50%;
    height: 80%;
    display: flex;
    background-color: #1c3fa8;
    border-radius: 3px;
    margin-left: 10%;
}

.manga-info {
    padding-top: 8%;
    height: 100%;
    width: 100%;
}

.manga-info h2 {
    padding-bottom: 5%;
}

.manga-info p {
    padding: 12px 0px;
}

.summary p {
    padding: 5px 0;
}

.manga-text {
    padding-left: 7%;
    padding-bottom: 8%;
}

.manga-img {
    margin-right: 10%;
    width: 20%;
    height: 80%;
}

.manga-img img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: block;
}


.downpage {
    width: 75%;
    margin-top: 10px;
    height: auto;
    background-color: #047aed;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 2%;
}

.downpage-container {
    height: 100%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 1%;
}

.slide-container h2 {
    padding-bottom: 1%;
}

.slide-mangas {
    height: 35vh;
}

.slide-manga {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slide-manga-img {
    height: 80%;
}

.slide-manga-img img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: block;
}

.slide-manga h3 {
    padding-top: 3%;
    text-align: center;
}

.latest {
    margin-top: 2%;
}

.latest-container {
    margin-top: 1%;
    margin-bottom: 1%;
}

.manga-grid {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-gap: 20px;
    column-gap: 35%;
}

.manga-grid-item {
    display: flex;
    height: 100%;
}

.manga-grid-image {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 50%;
}

.manga-grid-info {
    height: 100%;
    margin-top: 3%;
    margin-left: 4%;
    width: 50%;
}

.manga-grid-info h3 {
    padding-bottom: 5%;
}

.manga-grid-info p {
    padding-bottom: 3%;
}

.manga-grid-image img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    display: block;
} */
