a{
    text-decoration: none;
}

.main-container{
    margin-top: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Frontpage */

.frontpage{
    width: 75%;
    height: 50vh;
    background-color: #1E1F21;
    border-radius: 5px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.frontpage-slide-container{
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.manga-info-container{
    width: 50%;
    height: 80%;
    display: flex;
    background-color: #913FE2;
    border-radius: 3px;
    margin-left: 10%;
}

.manga-info{
    padding-top: 8%;
    height: 100%;
    width: 100%;
}

.manga-info h2{
    padding-bottom: 5%;
}

.manga-info p{
    padding: 12px 0px;
}

.summary p{
    padding: 5px 0;
}

.manga-text{
    padding-left: 7%;
    padding-bottom: 8%;
}

.manga-img{
    margin-right: 10%;
    width: 20%;
    height: 80%;
}

.manga-img img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: block;
}

/* Downpage */

.downpage{
    width: 75%;
    margin-top: 10px;
    height: auto;
    background-color: #1E1F21;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 2%;
}

.downpage-container{
    height: 100%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 1%;
}

.slide-container h2{
    padding-bottom: 1%;
}

.slide-mangas{
    height: 35vh;
}

.slide-manga{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slide-manga-img{
    height: 80%;
}

.slide-manga-img img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: block;
}

.slide-manga h3{
    padding-top: 3%;
    text-align: center;
}

.latest{
    margin-top: 2%;
}

.latest-container{
    margin-top: 1%;
    margin-bottom: 1%;
}

.manga-grid{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-gap: 20px;
    column-gap: 35%;
}

.manga-grid-item{
    display: flex;
    height: 100%;
}

.manga-grid-image{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 50%;
}

.manga-grid-info{
    height: 100%;
    margin-top: 3%;
    margin-left: 4%;
    width: 50%;
}

.manga-grid-info h3{
    padding-bottom: 5%;
}

.manga-grid-info p{
    padding-bottom: 3%;
}


.manga-grid-image img{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    display: block;
}