/* *********************** */
/* LATEST SECTION */
/* *********************** */

.latest-section {
    margin-top: 9.6rem;
    width: 100%;
    background-color: #d3b2f3;
    display: block;
}

.latest-container {
    min-height: 70vh;
    max-height: auto;
    width: 160rem;
    margin: auto;
    padding: 3.6rem 0;
}

.latest-container h2 {
    font-size: 2.4rem;
}