a {
    text-decoration: none;
    color: white;
}

.section-login {
    display: flex;
    justify-content: center;
    margin-top: 9.6rem;
}

.login-container {
    height: auto;
    width: 50%;
    background-color: #d3b2f3;
    color: #343a40;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-container h1 {
    margin-bottom: 6%;
    margin-left: 4%;
    font-size: 2.8rem;
}

.login {
    margin: 5%;
}

.login form {
    margin: 0 5%;
}

.field {
    display: flex;
    flex-direction: column;
}

.field input {
    font-size: 18px;
    margin-bottom: 4%;
    padding: 10px 10px;
    outline: none;
    background-color: #e3e3e3;
    border: 1px solid black;
    border-radius: 3px;
}

.field label {
    font-size: 19px;
    margin-bottom: 2%;
    color: #343a40;
}

.login-container button {
    margin-top: 2%;
    outline: none;
    font-size: 18px;
    border: none;
    background-color: #913fe2;
    width: 100%;
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
    margin-bottom: 2%;
    cursor: pointer;
}

.login form p {
    padding-top: 2%;
    text-align: center;
    font-size: 1.4rem;
}
