/* Below 2048 px ( Small Laptops )  */
@media(min-width:  128em) {
    .section-title{
        margin-left: 20rem !important;
    }

    .most-viewed{
        max-width: 200rem;
    }

    .latest{
        max-width: 200rem;
    }

    .categories{
        max-width: 200rem;
    }

    .bookmark{
        max-width: 190rem;
    }

    .footer{
        max-width: 180rem;
    }

    .website-td img{
        width: 40%;
    }

    .manga-grid-image img {
        height: 40rem !important;
    }

    .latest-grid-item img {
        height: 45rem !important;
    }

    .manga-grid-img-box img{
        height: 40rem !important;
    }
}

/* Below 1344 px ( Small Laptops )  */

@media(max-width: 84em){

    .manga-title a{
        font-size: 3.0rem;
    }

    .most-viewed{
        max-width: 120rem;    
    }

    .manga-grid-image img {
        height: 32rem !important;
    }

    .latest{
        max-width: 120rem;
    }

    .latest-grid-item img {
        height: 35rem !important;
    }

    .manga-grid-img-box img{
        height: 35rem !important;
    }
}

/* Bellow 1.152 px ( Landscape Tablets ) */
@media(max-width: 72em){
    .manga-title a{
        font-size: 2.4rem;
    }

    html {
        /* 9px / 16px =  */
        font-size: 56.25%;
    }

    .hero{
        column-gap: 4.8rem;
    }

    .latest-grid-info h3{
        font-size: 1.8rem;
    }

    .manga-grid{
        column-gap: 1.2rem;
    }

    .manga-grid-image img {
        height: 28rem !important;
    }

    /* Filter Categories */
    .genre-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Bellow 912 px (Tablets ) */
@media(max-width: 57em){
    html{
        font-size: 8px;
    }

    .manga-grid-image img {
        height: 25rem !important;
    }

    .latest-grid-item img {
        height: 30rem !important;
    }

    /* Menu Mobile Navigation */
    .icon-mobile-nav[name="close-icon"]{
        display: none;
    }

    .nav-open .icon-mobile-nav[name="close-icon"]{
        display: block;
        display: none;
    }

    .nav-open .icon-mobile-nav[name="close-icon"]{
        display: block;
    }
    
    .icon-mobile-nav[name="menu-icon"]{
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-icon"]{
        display: none;
    }

    .main-nav{
        background-color: rgba(255, 255, 255, 0.90);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        /* transform: translateX(100%); */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        transition: all 0.5s ease-in;

        /* Hide nav */
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .main-nav-list{
        flex-direction: column;
        gap: 4.8rem;
    }

    .main-nav-link:link, 
    .main-nav-link:visited{
        font-size: 3rem;
    }

    .secondary-nav{
        z-index: 99999;
    }

    .nav-open .main-nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        /* transform: translateX(0); */
    }


    /* One Column Hero */
    .hero{
        grid-template-columns: 1fr;
        grid-template-rows: 60rem 1fr;
        row-gap: 1.8rem;
        max-width: 60rem;
    }

    .manga-image-slide-cover{
        grid-row: 1;
    }

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 60rem 1fr;
        row-gap: 1.8rem;
        max-width: 60rem !important;
    }

    /* Shared Manga Grid */
    .manga-grid-img-box img{
        height: 25rem !important;
    }

    .header a img{
        height: 4rem;
        width: 100%;
    }

}

 /* Bellow 736 px (Smaller Tablets ) */
@media(max-width: 46em){
    .latest{
        grid-template-columns: 1fr;
    }

    .latest-grid-info{
        width: 95%;
    }

    .latest-grid-item img{
        height: 40rem !important;
    }

    /* Shared Manga Grid */
    .manga-grid{
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .manga-grid-img-box img{
        height: 25rem !important;
    }

    /* Show Chapter */

    .chapter {
        width: 100%;
        margin-bottom: 6.4rem;
    }

    .chapter-container h2{
        font-size: 2.4rem;
    }

    .hero{
        grid-template-columns: 1fr;
        grid-template-rows: 50rem 1fr;
        row-gap: 1.8rem;
        max-width: 60rem;
    }

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 50rem 1fr;
        row-gap: 1.8rem;
        max-width: 60rem !important;
    }

    .header a img{
        height: 3rem;
        width: 100%;
    }
}

 /* Bellow  544 px (Mobile Phones ) */
@media(max-width: 34em){
    html{
        font-size: 6px;
    }

    .header{
        padding: 0 2.4rem;
    }

    .manga-grid-image img {
        height: 30rem !important;
    }

    .grid-footer{
        grid-template-columns: repeat(2, 1fr) !important;
        row-gap: 4.8rem;
    }

    .footer-nav{
        grid-row: 1;
    }

    .contact{
        grid-row: 1;
    }

    /* Shared Manga Grid */
    .manga-grid{
        grid-template-columns: repeat(3, 1fr) !important;
        column-gap: 1.8rem !important; 
    }

    .manga-grid-img-box img{
        height: 30rem !important;
    }

    /* Manga Chapter */

    .chapter-container h2{
        font-size: 3.0rem;
    }

}