a{
    text-decoration: none;
    color: lightgray;
}

.main-container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.register-container{
    height: auto;
    margin-top: 1%;
    width: 50%;
    background-color: #1E1F21;
    color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.register-container h1{
    margin-bottom: 6%;
    margin-left: 4%;
}

.register{
    margin: 5%;
}

.register form{
    margin: 0 5%;
}

.field{
    display: flex;
    flex-direction: column;
}

.field input{
    font-size: 18px;
    margin-bottom: 4%;
    padding: 10px 10px;
    outline: none;
    background-color: #E3E3E3;
    border: 1px solid black;
    border-radius: 3px;
}

.field label{
    font-size: 19px;
    margin-bottom: 2%;
}

.register-container button{
    margin-top: 2%;
    outline: none;
    font-size: 18px;
    border: none;
    background-color: #913FE2;
    width: 100%;
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
    margin-bottom: 2%;
    cursor: pointer;
}

.register form p{
    padding-top: 2%;
    text-align: center;
}