/* *********************** */
/* SEARCH SECTION */
/* *********************** */

.search-section {
    margin-top: 9.6rem;
    width: 100%;
    background-color: #d3b2f3;
    display: block;
}

.search-container {
    min-height: 70vh;
    max-height: auto;
    width: 160rem;
    margin: auto;
    padding: 3.6rem 0;
}

.search-container h2 {
    font-size: 2.4rem;
}

.manga-grid {
    margin-top: 3.6rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3%;
    row-gap: 3%;
}

.manga-grid-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.manga-grid-image img{
    width: 100%;
    height: 100%;
}

.manga-grid-info {
    padding: 1.2rem;
    display: flex;
    justify-content: center;

}

.manga-grid-info a{
    text-decoration: none;
    color: #343a40;
}

.manga-grid-info h3 {
    font-size: 18px;
    
}

.manga-grid-info p {
    padding-bottom: 3%;
}

.manga-grid-image img {
    height: 40rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
    display: block;
}

.error{
    margin-top: 2.4rem;
    color: red;
    font-size: 1.8rem;
    grid-column: 1 / 3;
}