/* *********************** */
/* SEARCH SECTION */
/* *********************** */

.search-section {
    margin-top: 9.6rem;
    width: 100%;
    background-color: #d3b2f3;
    display: block;
}

.search-container {
    min-height: 70vh;
    max-height: auto;
    width: 160rem;
    margin: auto;
    padding: 3.6rem 0;
}

.search-container h2 {
    font-size: 2.4rem;
}

.error{
    margin-top: 2.4rem;
    color: red;
    font-size: 1.8rem;
    grid-column: 1 / 3;
}