*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* NAV 1 */

.nav-1{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    background-color: black;
}

.logo-container{
    margin-left: 5%;
}

.logo{
    width: 250px;
    height: auto;
    display: block;
}

.search-container{
    width: 55%;
    margin-left: 5%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 5px;
}

.search-input{
    padding: 0px 10px;
    width: 96%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
}

.search-img{
    width: auto;
    background-color: transparent;
    cursor: pointer;
    padding: 0 5px;
}

.right-side-btns{
    margin-left: 5%;
    width: auto;
    height: 45px;
    display: flex;
    margin-right: 5%;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #3A3A3A;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.btn-container{
    margin-right: 5%;
}

.right-side-btns a{
    text-decoration: none;
    color: white;
}


/* NAV 2 */

.nav-2{
    width: 100%;
    background-color: #913FE2;
    height: 6vh;
}


.nav-2-btns{
    padding-left: 6%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-2-btns ul li{
    list-style: none;
    display: inline-block;
    margin-right: 55px;
}

.nav-2-btns ul li a{
    text-decoration: none;
    color: white;
}

/* Main */

.main{
    width: 100%;
}